[submodule "lib/PKMNEngine"]
	path = lib/PKMNEngine
	url = https://github.com/griest024/PKMNEngine
[submodule "lib/jrubyfx"]
	path = lib/jrubyfx
	url = https://github.com/jruby/jrubyfx
[submodule "pkmne"]
	path = pkmne
url=https://github.com/griest024/essentials-sample-project